/*FONTS
----------------------------------------------------
  font-family: 'Nova Mono', monospace;
  font-family: 'Roboto Mono', monospace;
*/

body {
    background-color: #212830;
}

.jumbotron {
    margin: 15px 0px;
    padding: 5px 0px 15px 0px;
}

.jumbotron h1 {
    font-size: 40px;
    text-align: center;
}

.sub-title {
    margin-top: 15px;
}

.sub-title-text {
    font-size: 12px;
}

img {
    width: 90%;
}

.panel-left {
    margin-right: -7px;
}

.panel-right {
    margin-left: -7px;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-body {
    padding: 0px;
}

#target-num, #player-score {
    font-size: 3em;
}

.col-xs-4 {
    padding: 0px;
}